/* Header and footer CSS based on http://primercss.io/ */

.masthead {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: #8c1515;
}

.masthead a {
    color: rgba(255,255,255,0.5);
}

.masthead a:hover {
    text-decoration: none;
}

.masthead .masthead-logo {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
}

.masthead-nav {
    margin-top: 1rem;
    font-size: 1rem;
}

.masthead-nav a:not(:last-child) {
    margin-right: 1.25rem;
}

.masthead-nav .active {
    color: #fff;
    font-weight: 500;
}

.masthead-nav a {
    display: inline-block;
}

@media (min-width: 34em) {
    .masthead {
        text-align: left;
    }
    .masthead .masthead-logo {
        float: left;
    }
    .masthead-nav {
        float: right;
        margin-top: .5rem;
    }
}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    line-height: 1.75;
    color: #7a7a7a;
    border-top: 1px solid #eee;
}


/* Helper classes below */
.text-center {
    text-align: center;
}