<div class="ui modal">
  <div class="header">
    Create a New Plan
  </div>
  <div class="content">
    <div id="degree-search" class="ui fluid multiple search selection dropdown">
      <input type="hidden" name="degrees">
      <i class="dropdown icon"></i>
      <div class="default text">Degrees</div>
      <div class="menu">
      </div>
    </div>
    <div class="ui right icon input">
      <input ng-model="grad_year" type="text" name="grad_year" placeholder="Graduation Year">
      <i class="student icon"></i>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Back
    </div>
    <div class="ui positive right labeled icon button">
      Create
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
