.ui.footer.segment {
    margin: 3em 0em 0em;
    padding: 0em 0em;
}

#footer .container {
    margin: 3em;
}

#navbar, #footer {
    border-radius:0;
    background-color: #8c1515;
}

#navbar {
    margin-bottom: 5em;
}

.text-center {
    text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.course-title {
    font-weight:300;
}

.course-entry {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.course-entry p {
    margin-top: 0.5em;
}


.ui.threaded.comments .comment .comments {
    padding: 0px 0px 8px 8px !important;
    margin: 16px 0px 16px 16px !important;
}