#navbar, #footer {
    border-radius: 0;
    background-color: #8c1515;
}

#navbar {
    margin-top: 0;
    margin-bottom: 5em;
}

.text-center {
    text-align: center;
}

.course-title {
    font-weight:300;
}

.course-entry {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.course-entry p {
    margin-top: 0.5em;
}

.course-div {
    margin-bottom: 7px;
}

.term-div {
    margin-top: 10px !important;
    margin-right: 7px !important;
    width: calc(25% - 7px) !important;
}


.ui.threaded.comments .comment .comments {
    padding: 0px 0px 8px 8px !important;
    margin: 16px 0px 16px 16px !important;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

textarea {
    height: 50px !important;
}

#reviewInstructor {
    margin-left: 15px !important;
}


/* Footer stuff */
html, body {
  height: 100%;
}
.main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.main:after {
  content: "";
  display: block;
}
#footer, .main:after {
  height: 240px;
}

#footer .container {
    margin: 2em;
}

#footer {
    margin-bottom:0;
}

/* Loading Bar */
#loading-bar-spinner .spinner-icon {
    border-top-color:  #FFF;
    border-left-color: #FFF;
}

#loading-bar .bar {
    background: #FFF;
}
