{% extends "main/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="one-half column centered">
            <div class="text-center">
                <h1>Welcome to the Cardinal Planner!</h1>
                <p class="lead">Search for classes to get started.</p>
            </div>
            <form>
                <input class="form-control input-lg input-block" type="text" placeholder="Enter your search here.">
            </form>
        </div>
    </div>
</div>

{% endblock %}