<div class="ui text container">
  <div class="ui header">
    Graduation Requirements
  </div>
  
  Total Units Planned: {{ total_units }} / 180
  
  <table class="ui definition table">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="(code, v) in classes_ways">{{ code }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(way, amount) in required_ways">
        <td>{{ way }}</td>
        <td ng-repeat="(code, v) in classes_ways">
          <i ng-if="v.hasOwnProperty(way)" class="checkmark icon"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
